.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.6rem 0;
  border: 3.1px solid white;
  & img {
    width: 16%;
    object-fit: contain;
    margin-right: 2rem;
    /* margin: 1rem auto 1rem auto; */
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
  }
}
.top-title {
  font-size: 1.5rem;
}

h4 {
  position: relative;
  left: -1rem;
  top: -2rem;
  color: white;
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .header {
    justify-content: flex-start;
    padding: 0.6rem 1rem;
    border: 3px solid white;
    & img {
      width: 30%;
    }
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .header {
    justify-content: flex-start;
    padding: 0.6rem 1rem;
    border: 3px solid white;
    & img {
      width: 30%;
    }
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .header {
    justify-content: flex-start;
    padding: 0.6rem 1rem;
    border: 3px solid white;
    & img {
      width: 30%;
    }
  }
}
